{% extends "padre.html" %}
{% block title %} Inicio {% endblock %}
{% block content %}
<h2>Modificación de los datos de usuario</h2>
<div class="col-md-6 offset-md-0">
    <form action="" method="post" class="row g-3">
        <div class="col-12">
            <label><b>Nombre:</b></label>
            <input type="text" name="name" class="form-control" placeholder="Nombre" value="{{user}}">
        </div>
        <div class="col-12">
            <label><b>Correo Electronico:</b></label>
            <input type="text" name="email" class="form-control" placeholder="Correo electronico" value="{{mail}}">
        </div>
        <div class="col-12">
            <label><b>Movil:</b></label>
            <input type="text" name="phone" class="form-control" placeholder="Tlf" value="{{phone}}">
        </div>
        <div class="col-12">
            <label><b>Dirección:</b></label>
            <input type="text" name="direction" class="form-control" placeholder="Pais, ciudad, calle" value="{{direction}}">
        </div>
        <div class="col-12">
            <label><b>Contraseña Actual:</b></label>
            <input type="password" name="password" class="form-control">
        </div>
        <p></p>
        <a href="#">
            <button class="btn btn-outline-dark btn-lg px-4" name="modifica" type="submit" value="submit">Confirmar modificación</button>
        </a>
        <a href="/user">
            <button class="btn btn-outline-dark btn-lg px-4" name="cancela" type="submit" value="submit">Cancelar</button>
        </a>
    </form>
</div>


{% endblock %}
