{% extends "padre.html" %}
{% block title %} Inicio {% endblock %}
{% block content %}
<h1>Mi página web</h1>
<p>
    Soy Alberto Robles Hernández, y he creado esta página web usando el microframework flask. <br>
    Esta página web utiliza:<br>
    <ul>
        <li>El motor de plantillas Jinja2.</li>
        <li>Bootstrap como framework css.</li>
        <li>Cookies para mantener la información entre las distintas páginas.</li>
        <li>Pickleshare para almacenar la información de los usuarios.</li>
        <li>Un hash para encriptar las contraseñas.</li>
    </ul> 
</p>
{% endblock %}